<h2 class="text-center">Product List</h2>

<div class="container">
  <div class="row">
    <div class="col-sm-5 offset-3">
      <input type="search" class="form-control" placeholder="Search...">
    </div>
    <div class="col-sm-4">
      <button class="btn btn-primary">Price Asc</button>
      <button class="btn btn-secondary mx-1">Price Desc</button>
    </div>
  </div>
  <div class="row mt-3">
    @for (product of productArr | paginate: { itemsPerPage: 4, currentPage: p}; track $index) {
    <div class="col-sm-3">
      <div class="card">
        <img src="{{product.image}}" class="card-img-top" alt="..." height="200px">
        <div class="card-body text-center" appZoomin>
          <h5 class="card-title text-truncate">{{product.category}}</h5>
          <p class="card-text">{{product.title}}</p>
          <p class="card-text text-truncate">{{product.description}}</p>
          <p class="card-text">
            Price : <fa-icon [icon]="faRupee"></fa-icon> {{product.price}}
          </p>
          <p class="card-text">
            Rating : {{product.rating.rate}}
            <fa-icon [icon]="faStar"></fa-icon>
          </p>
          <a href="#" class="btn btn-primary">Details</a>
        </div>
      </div>
    </div>
    }
  </div>
  <div class="row mt-3">
    <div class="col-sm-4 offset-4">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
<button class="btn btn-primary" (click)="openSweetAlert()">Sweet Alert</button>
<button class="btn btn-primary mx-2" (click)="openSnackbar()">SnackBar</button>

