<h3 class="text-center">Reactive Form</h3>

<div class="col-sm-5 offset-4 border border-3 rounded-3 p-2">
  <form [formGroup]="registerForm" (submit)="submitMyForm()" (reset)="resetMyForm()">
      <p>
        FirstName: <input formControlName="firstName">
        @if(registerForm.controls['firstName'].hasError('required')){
          <span class="text-danger">FirstName is Required</span>
        }
        @if(registerForm.controls['firstName'].hasError('minlength')){
          <span class="text-danger">FirstName should have minimum 5 chars</span>
        }
      </p>
      <p>LastName: <input formControlName="lastName"></p>
      <p>
        Email: <input formControlName="email">
        @if(registerForm.controls['email'].hasError('required')){
          <span class="text-danger">email is Required</span>
        }
        @if(registerForm.controls['email'].hasError('email')){
          <span class="text-danger">email format is wrong</span>
        }
      </p>
      <div formGroupName="address">
          <p>City: <input formControlName="city"></p>
          <p>State: <input formControlName="state"></p>
          <p>Pincode: <input formControlName="pincode"></p>
      </div>

      <input type="reset" value="Reset">
      <input type="submit" value="Submit" class="mx-2" [disabled]="registerForm.invalid">
  </form>

  <hr/>
  <button (click)="setFormValue()" class="mx-2">Set Value</button>
  <button (click)="patchFormValue()">Patch Value</button>
  <pre>
    {{registerForm.value | json}}
  </pre>
</div>
