<h3 class="text-center">Let's Learn Observables with RxJS</h3>

<div class="border border-3 rounded-3 m-3 p-3">
  <h4>Fork Join: </h4>
  <pre>
    -forkJoin is an rxjs operator that takes array of observables.
    -Allows to run multiple API calls in parallel and get the response once all complete.
    -when we need to wait for several async tasks to finish.
    -works like Promise.all()
  </pre>
</div>

<div class="border border-3 rounded-3 m-3 p-3">
  <h4>mergeMap: </h4>
  <pre>
    Receive data from an observable (outer observable). For each of those Responses/values, we want to call another observable (inner observable) to get more data.
  </pre>
</div>
