<div class="body container">
  <!-- Is Dark :: {{themeService.getTheme()}}
  <button class="btn btn-primary" (click)="themeService.toggleTheme()">Toggle Theme</button> -->
  <!-- <app-data-binding></app-data-binding> -->
  <!-- <app-directives></app-directives> -->

  <!-- <app-my-modal>
    <h2 id="modalTitle">Dynamic Title</h2>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGakkUEbXyfann4M16v9CV-sTa915cUOdh9g&s" alt="">
  </app-my-modal> -->

  <!-- <app-product-list></app-product-list> -->
  <!-- <app-user-list></app-user-list> -->
  <!-- <app-pipes-demo></app-pipes-demo> -->
  <!-- <app-parent></app-parent> -->
  <!-- <app-traffic-light></app-traffic-light> -->
  <!-- <app-products></app-products> -->
  <!-- <app-http-demo1></app-http-demo1> -->
  <!-- <app-http-demo2></app-http-demo2> -->
  <!-- <app-employee-list></app-employee-list> -->
  <!-- <app-observable-demo1></app-observable-demo1> -->
  <!-- <app-observable-demo2></app-observable-demo2> -->
  <!-- <app-observable-demo3></app-observable-demo3> -->
  <!-- <app-subject-demo1></app-subject-demo1> -->
  <div class="row">
    <div class="col-sm-8">
      <app-todo-list></app-todo-list>
    </div>
    <div class="col-sm-4">
      <app-todo-add></app-todo-add>
    </div>
  </div>
</div>
